
<h1>New Recipe</h1>

<%= form_tag "/recipes", method: :post do %>
<div>
Title: <input type="text" name= "title">
 </div>
<div>
Chef: <input type="text" name= "title">
 </div>
<div>
Ingredients: <input type="text" name= "title">
 </div>
<div>
Directions: <input type="text" name= "title">
</div>
<<input type="submit" value="create image">
  <% end %>




<div class="row">
<% @recipes.each do |recipe| %>
<div class="col-md-4">
</div>
div class="thumbnail well">
  <h2><a href="/recipes/<%=recipe.id %>"><%= recipe.title %></a></h2>
  <h4><%= recipe.chef %></h4>
  <h3><%= recipe.ingredients %></h3>
   <h3><%= recipe.directions %></h3>

  

